.comment-container {
  margin: 2rem 0.5rem;
}
.comment-container > h2 {
  margin-bottom: 2rem;
}

.single-container {
  margin: 1rem 0;
}

.comment-header {
  margin: 0.5em 0;
  display: flex;
  gap: 0.5rem;
}

.profile-pic {
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border-radius: 4rem;
}
.username-time {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.username-time > p {
  color: gray;
}
.comment {
  padding: 0.5em 0.5em 1em 0.5em;
}
hr {
  opacity: 0.4;
}

.add-comment-container {
  padding: 0.5rem;
}

/* poista */
/* input[type="text"] {
  margin: 1rem 0;
  padding: 0.5em;
  width: 70%;
} */
.comment-textarea {
  margin: 1em 0;
  padding: 1em;
  width: 90%;
  resize: vertical;
  border: 1px solid #059669;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
