:root {
  --blue: #3498db;
  --dark-green: #045f04;
  --light-green: #0d9d00;
  --accent-color: #e74c3c;
  --white: #f7f7f7;
  color: #1f1f1f;
}
.scroll-to-top-btn {
  background-color: var(--light-green) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-to-top-btn:hover {
  background-color: var(--dark-green) !important;
}
/* stop bachground scrolling */
body:has(.upload-modal, .popup-overlay) {
  overflow: hidden;
}
